* {
  margin: 0;
  padding: 0;
  font-family: "General Sans";
}

body {
  background-color: black;
  color: white;
}

#main {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

#hero {
  padding: 30px 40px;
  position: relative;
  height: 90vh;
}

#nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#nav a {
  color: white !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

#nav ul {
  display: flex;
  gap: 30px;
}

#nav ul li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menuItem {
  opacity: 0;
  cursor: pointer;
}

#menu {
  font-weight: normal !important;
  font-size: 16px !important;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.bounding {
  /* background-color: red; */
  width: fit-content;
  overflow: hidden;
}

.boundingElement {
  transform: translateY(100%);
}

#heading {
  margin-top: 15vh;
}

#heading h1 {
  font-size: 10vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.7;
}

#subHeading {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

#subHeading h1 {
  margin-left: 11vw;
  margin-top: -1.3vw;
}

#subHeading h5 {
  text-align: end;
  text-transform: uppercase;
  font-size: 18px;
}

#freelanceInfo {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#freelanceInfo h5 {
  text-align: end;
  text-transform: uppercase;
  font-size: 16px;
}

#freeSpacing {
  margin-top: 1vh !important;
}

#heroFooter {
  position: absolute;
  bottom: 1vh;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footerCol1 h4 {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

#footerCol1 h4:hover {
  transform: 0.5s ease all;
  cursor: pointer;
  text-decoration: underline;
}

#footerCol2 h4 {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

#footerCol2 h4:hover {
  transform: 0.5s ease all;
  cursor: pointer;
  text-decoration: underline;
}

#heroFooterSvg {
  width: 20px;
  height: 13px;
  padding: 6px 3px;
  background: white;
  color: black;
  border-radius: 50px;
}

#projectSection {
  margin-top: 21vh;
  padding: 30px 40px;
  position: relative;
  height: 100%;
}

#pInfo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #8e8e8e;
  padding: 5vh 0;
  position: relative;
}

#pInfo h1 {
  font-size: 8vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.7;
  transition: 0.7s all ease-in-out;
}

#pInfo:hover h1 {
  opacity: 0.3;
  cursor: pointer;
  margin-left: 4vw;
  transition: 0.7s all ease-in-out;
}

.infoLast {
  border-bottom: 1px solid #8e8e8e;
}

#pInfo img {
  position: absolute;
  height: 150%;
  /* z-index: 10; */
  opacity: 0;
  display: none;
}

#aboutSection {
  margin-top: 21vh;
}

#arow {
  display: flex;
  align-items: center;
  gap: 30px;
}

#aboutImage {
  margin-left: 46%;
}

#aboutImage img {
  width: 235px;
}

#aboutContent {
  width: 26%;
}

#aboutContent h5 {
  opacity: 0.6;
  text-transform: uppercase;
}

#aboutContent p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 20px 0;
  letter-spacing: 0.01rem;
}

#aboutContent button {
  background: transparent;
  color: white;
  border: 1px solid;
  padding: 12px 25px;
  border-radius: 50px;
}

#socialSection {
  margin-top: 21vh;
  padding: 30px 40px;
  position: relative;
  height: 100%;
}

#socialSection h5 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

#sFirst {
  opacity: 0.7;
  font-size: 13px !important;
}

footer {
  margin-top: 21vh;
  padding: 30px 40px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-left,
#footer-right {
  display: flex;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
}
